name: Deploy Docs
on:
  push:
    branches: ["main"]
permissions:
  contents: read
  pages: write
  id-token: write
jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
      - name: Build Documentation
        run: cargo doc --no-deps --document-private-items
      - name: Setup Pages
        uses: actions/configure-pages@v3
        if: ${{ github.event.repository.has_pages }}
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'target/doc'
        if: ${{ github.event.repository.has_pages }}
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
        if: ${{ github.event.repository.has_pages }}
